@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to bottom, #1f43ad, #0060bb, #0077bc, #008bb5, #1f9dad);
    height: 100%;
    width: 100vw;
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.726);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    font-size: 1rem;
}
section {
    height: 20vh;
}
.small-header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}
.small-header-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}